<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
				<string>aac</string>
				<string>ac3</string>
				<string>aiff</string>
				<string>asf</string>
				<string>avi</string>
				<string>divx</string>
				<string>dv</string>
				<string>flv</string>
				<string>f4v</string>
				<string>gif</string>
				<string>jpg</string>
				<string>mod</string>
				<string>mov</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mp3</string>
				<string>mp4</string>
				<string>m2t</string>
				<string>m2ts</string>
				<string>m2v</string>
				<string>m4a</string>
				<string>m4v</string>
				<string>mka</string>
				<string>mkv</string>
				<string>mts</string>
				<string>mxf</string>
				<string>ogg</string>
				<string>ogm</string>
				<string>ogv</string>
				<string>png</string>
				<string>ra</string>
				<string>rm</string>
				<string>tif</string>
				<string>tiff</string>
				<string>ts</string>
				<string>vob</string>
				<string>wav</string>
				<string>wma</string>
				<string>wmv</string>
				<string>weba</string>
				<string>webm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>apprenticevideo</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>apprenticevideo</string>
	<key>CFBundleGetInfoString</key>
	<string>Apprentice Video by Pavel Koshevoy</string>
	<key>CFBundleIconFile</key>
	<string>apprenticevideo</string>
	<key>CFBundleIdentifier</key>
	<string>com.aragog.apprenticevideo</string>
	<key>CFBundleName</key>
	<string>Apprentice Video</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleSignature</key>
	<string>.yap</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
</dict>
</plist>
